#colors {
    $razbory: #019df2 !global;
    $terminy: #ff0550 !global;
    $mafin: $terminy !global;
    $gajdy: #ff7a00 !global;
    $white: #fff !global;
    $grey: #eef1f6 !global;
    $dark-grey: #7d7d7d !global;
    $infografika: #a11b86 !global;
}
