@media screen and (max-width: 639px) {


    .post__text {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto 12px auto;
        max-width: 400px;
    }

    .post__text_card {
        margin: 0 !important;
    }

    .post__text:last-of-type {
        padding: 0 auto 30px auto;
    }
    .post__subtitle {
        font-size: 18px;
        line-height: 33px;
        max-width: 400px;
        margin: 0 auto 16px auto;
    }
    .post__paragraph {
        max-width: 460px;
    }

    .post__list {
        max-width: 400px;
        columns: 1;
    }
    .post__list-item {
        font-size: 20px;
    }

    .card_min {
        width: 460px;
        margin: 0 0 30px 0;
        background-position: center;
        background-size: 731px;
        background-repeat: repeat-y;
    }

    .matfey__person {
        max-width: 140px;
        top: -4px;
        right: 18px;
    }

    .card-wrapper {
        max-width: 460px;
    }

    .card_thin {
        max-width: 460px;
        margin: 0 0 30px 0;
    }

    .post__text_card {
        margin-bottom: 0 !important;
    }

    .card__icon_right {
        width: 120px;
        bottom: -16px;
        right: 100px;
    }

    .card__icon_right-top {
        right: 165px;
    }

    .card__icon_center {
        top: 172px;
        left: 201px;
        opacity: 0.3;
    }
}
