@media screen and (max-width: 959px) {
    /* --- Неизменные стили --- */
    .post__text {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 0 12px 30px;
        max-width: 440px;
    }

    .post__text:last-of-type {
        padding-bottom: 30px;
    }

    .post__text_full-tab{
        max-width: 100%;
    }

    .post__text_full{
        max-width: 100%;
    }

    .post__text_card {
        padding-bottom: 0 !important;
    }


    .post__subtitle {
        font-size: 18px;
        max-width: 560px;
        line-height: 1.2;
    }

    .post__paragraph {
        max-width: 620px;
    }

    .post__list {
        max-width: 560px;
    }

    .post__list-item {
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* Изменяемые стили */


    .card {
        width: 620px;
    }
    .card-wrapper {
        max-width: 620px;
    }

    .card_thin {
        max-width: 620px;
        margin: 0 0 40px 0;
    }

    .card_min {
        width: 510px;
        margin: 0 0 30px 0;
    }

    .card__subtitle {
        font-size: 30px;
    }

    .matfey__person {
        max-width: 150px;
        position: absolute;
        top: -156px;
        right: -92px;
    }

    .card__icon_center {
        left: 201px;
        opacity: 0.3;
    }

    .card__icon_right-top {
        top: 13px;
        opacity: 0.5;
    }

    .card__icon_right {
        width: 120px;
        bottom: -17px;
    }
}
