@media screen and (min-width: 640px) and (max-width: 959px) {
    /* --- Неизменные стили --- */
    .post__heading {
        max-width: 560px;
    }
    .post__title {
        font-size: 24px;
        line-height: 1.2;
        margin: 8px auto 30px auto;
        max-width: 560px;
    }
    .post__background {
        height: 235px;
        margin-bottom: 30px;
    }
    .post__title::after {
        height: 23px;
        line-height: 23px;
        top: 270px;
    }
    .post__image {
        width: 100%;
        max-width: 620px;
        margin: 0 auto 30px auto;
    }
    .post__image_column {
        margin: 0 auto 30px auto;
    }
    .post__text {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 auto 30px auto;
        max-width: 560px;
    }
    .post__subtitle {
        font-size: 18px;
        max-width: 560px;
        line-height: 1.2;
    }
    .post__paragraph {
        max-width: 620px;
    }
    .post__list {
        max-width: 560px;
    }
    .post__list-item {
        font-size: 14px;
    }
    /* Изменяемые стили */
    .post__grid {
        max-width: 620px;
    }
    .post__excretion {
        max-width: 560px;
        margin: 0 auto 40px auto;
        display: grid;
        grid-template-columns: 24px auto;
        column-gap: 20px;
    }
    .excretion__image {
        max-width: 100%;
    }
}