@media screen and (max-width: 1199px) {
    /* --- Неизменные стили --- */
    .post__heading {
        max-width: 720px;
    }
    .post__title {
        max-width: 720px;
    }
    .post__image {
        max-width: 780px;
    }
    .post__image_column {
        margin: 0 auto 12px auto;
    }
    .post__image_mini {
        max-width: 580px;
    }
    .post__text {
        max-width: 720px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 auto 12px auto;
    }

    .post__paragraph_columns {
        max-width: 720px !important;
        margin-bottom: 40px !important;
    }

    .post__subtitle {
        max-width: 720px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        margin: 0 auto 16px auto;
    }
    .post__paragraph {
        max-width: 780px;
        margin: auto;
    }
    /* Изменяемые стили */
    .post__card {
        max-width: 780px;
    }

    .card__text:last-of-type {
        margin: 0;
    }

    .post__exclamation_wrapper {
        max-width: 720px;
    }

    .post__exclamation_wrapper:last-of-type {
        margin-bottom: 28px;
    }
}