@media screen and (min-width: 960px) and (max-width: 1199px) {
    /* --- Неизменные стили --- */

    .post__text {
        max-width: 580px;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        margin: 0 0 12px 30px;
    }

    .post__text_full {
        max-width: 100% !important;
    }

    .post__subtitle {
        max-width: 720px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        margin: 0 auto 16px auto;
    }
    .post__paragraph {
        max-width: 780px;
        margin: auto;
    }

    .card-wrapper {
        max-width: 780px;
    }

    .card_min {
        width: 650px !important;
    }

    .card_thin {
        width: 780px;
    }

    .card {
        width: 780px;
    }
}
