/* --- Неизменные стили --- */

.t050__title.t-title.t-title_xxl {
    font-size: 18px !important;
}

.t-records ul {
    margin: 0;
}

.post__link {
    color: #ff0550 !important;
    transition: .2s;
}
.post__link:hover {
    opacity: .6;
    transition: .2s;
}

.banner {
    background-image: url("https://static.tildacdn.com/tild3166-3866-4461-b730-393039393335/-.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    min-height: 75vh;
    margin-top: 120px;
    display: flex;
    align-content: center;
    align-items: flex-end;
}

.banner__title {
    color: #303030;
    font-size: 50px;
    font-family: "Manrope", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    max-width: 840px;
}

.mafin__color {
    color: #ff0550;
}

.card {
    width: 960px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto -100px auto;
    padding: 68px 30px;
    box-sizing: border-box;
    position: relative;
}

.card_min {
    padding: 30px;
    max-width: 826px;
    margin: 0 0 40px 0;
    background-image: url("https://static.tildacdn.com/tild6639-3232-4961-b764-626265376466/_2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_thin {
    padding: 30px;
    margin: 0 0 40px 0;
}

.banner__car {
    height: 100px;
    bottom: -28px;
    left: 15px;
    position: absolute;
}

.matfey {
    padding-top: 140px;
    background-color: #f4f6f9;
    padding-bottom: 40px;
}

.card__subtitle {
    font-family: "Caveat", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    max-width: 100%;
    margin: 0 0 20px 0;
}

.post__list {
    list-style: none;
    columns: 2;
    max-width: 610px;
    margin: 0;
    padding-left: 0;
}

.post__list-item {
    font-family: "Caveat", cursive;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
}

.post__list-item:last-of-type {
    margin-bottom: 0;
}

.post__list-item::before {
    vertical-align: bottom;
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    margin-right: 12px;
}

.bg-first::before {
    background-image: url("https://static.tildacdn.com/tild3263-6137-4230-b534-653231313666/1.svg");
}
.bg-second::before {
    background-image: url("https://static.tildacdn.com/tild6138-3261-4862-a238-623663396564/2.svg");
}
.bg-third::before {
    background-image: url("https://static.tildacdn.com/tild6130-3132-4662-b634-643165643039/3.svg");
}
.bg-fourth::before {
    background-image: url("https://static.tildacdn.com/tild6564-3564-4533-b061-376666653230/4.svg");
}
.bg-fifth::before {
    background-image: url("https://static.tildacdn.com/tild3061-3935-4265-a332-623931353462/5.svg");
}
.bg-sixth::before {
    background-image: url("https://static.tildacdn.com/tild3232-3466-4663-a166-373734633935/6.svg");
}
.bg-seventh::before {
    background-image: url("https://static.tildacdn.com/tild6337-3635-4962-b162-373264373136/7.svg");
}
.bg-eighth::before {
    background-image: url("https://static.tildacdn.com/tild3438-6462-4734-a364-326165623133/8.svg");
}

.post__paragraph {
    max-width: 960px;
    margin: auto;
    position: relative;
}

.post__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 12px 30px;
    max-width: 670px;
}

.post__text:last-of-type {
    margin: 0 0 0 30px;
    padding-bottom: 40px;
}

.post__text_card:last-of-type {
    padding-bottom: 0;
    margin: 0;
}

.post__text_full {
    max-width: 100%;
}

.post__text_card {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.matfey__person {
    max-width: 200px;
    position: absolute;
    top: -206px;
    right: -148px;
}

.post__subtitle {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    max-width: 700px;
    margin: 0 0 16px 0;
    color: #303030;
}

.card-wrapper {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.card__icon_left-side {
    background-image: url("https://static.tildacdn.com/tild3636-3832-4163-b538-366465633765/photo.png");
    width: 26px;
    height: 16px;
    top: 13px;
    left: 1px;
    transform: rotate(35deg);
    opacity: 0.7;
}

.card__icon_center {
    background-image: url("https://static.tildacdn.com/tild3139-3930-4261-b965-343363323032/photo.png");
    width: 67px;
    height: 39px;
    top: 102px;
    left: 251px;
    transform: rotate(-15deg);
    opacity: 0.5;
}

.card__icon_right-top {
    background-image: url("https://static.tildacdn.com/tild3338-6135-4133-a232-333238613839/photo.png");
    width: 45px;
    height: 65px;
    top: 41px;
    right: 122px;
    transform: rotate(23deg);
    opacity: 0.6;
}

.card__icon_right {
    background-image: url("https://static.tildacdn.com/tild6130-6431-4431-b066-316235333365/photo.jpg");
    width: 158px;
    height: 92px;
    bottom: -5px;
    right: 0;
}