.home-screen__link {
    color: #000;
}

.home-screen__wrapper {
    position: relative;
}

.home-screen__cover {
    position: absolute;
}

.home-screen__image {
    width: 100%;
}

.home-screen__cover {
    width: 100%;
    height: 100%;
}

.home-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
}