.card__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 16px 0;
    max-width: 700px;

    &:last-of-type {
        margin: 0;
    }

    @media screen and (max-width: 959px) {
        font-size: 14px;
    }

    @media screen and (max-width: 479px) {
        margin: 0 10px 16px 10px;

        &:last-of-type {
            margin: 0 10px;
        }
    }
}
