@media screen and (max-width: 479px) {
    /* --- Неизменные стили --- */
    .post__paragraph_columns {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 30px 20px 30px;
        max-width: 100% !important;
        gap: 20px;
    }
    /* ----- Изменяемые стили ----- */
    .post__image_mob {
        display: inherit;
    }
    .post__image_desktop {
        display: none;
    }
    .post__image_column {
        margin: 0 auto 12px auto;
        max-width: 100%;
    }
    .post__grid {
        grid-template-columns: auto;
        margin: 0;
        row-gap: 20px;
    }
    .post__card_columns {
        display: grid;
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 20px;
    }
    .post__card_columns:last-of-type {
        margin-bottom: 0;
    }
    .post__quote {
        margin-right: 3px;
        width: 10px;
    }
    .post__text_quote {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .post__text_quote:last-of-type {
        margin-bottom: 0;
    }

    .post__table-wrapper {
        margin-bottom: 0 !important;
        width: 600px;
    }
    .table__text {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 10px;
        margin-bottom: 0px;
    }
    .card__title_xs {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .post__image_desktop {
        display: none;
    }
    .post__image_mob {
        display: inherit;
    }
    .post__image-title {
        margin-bottom: 20px;
    }
    .shape__image {
        margin: auto;
        height: 140px;
        width: 145px;
    }
    .post__exclamation_wrapper {
        max-width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    .post__exclamation_wrapper:last-of-type {
        margin-bottom: 8px;
    }
    .post__text_exclamation {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }

    .post__large-table__wrapper {
        overflow: auto;
        border-radius: 10px !important;
        padding-bottom: 12px;
    }

    .post__large-table__wrapper::-webkit-scrollbar-thumb {
        background-color: $terminy;
        height: 0px !important;
        border-radius: 15px;
    }

    .post__large-table__wrapper::-webkit-scrollbar {
        height: 3px !important;
        background-color: transparent;
    }
}
