@media screen and (max-width: 639px) {
    /* --- Неизменные стили --- */
    .post__paragraph_columns {
        max-width: 400px !important;
        margin-bottom: 30px;
    }
    .post__image_column {
        margin: 0 auto 12px auto;
    }
    /* Изменяемые стили */
    .post__image_mob {
        display: inherit;
    }
    .post__image_desktop {
        display: none;
    }
    .post__grid {
        max-width: 460px;
    }
    .card__text_container {
        max-width: 400px;
    }
    .post__text_bold_card {
        font-size: 18px;
    }
    .post__image_desktop {
        display: none;
    }
    .post__image_mob {
        display: inherit;
    }
    .post__exclamation_wrapper {
        max-width: 400px;
    }
    .post__exclamation_wrapper:last-of-type {
        margin-bottom: 18px;
    }
    .post__table-wrapper {
        margin-bottom: 0 !important;
        width: 600px;
    }
    .post__large-table__wrapper {
        overflow: auto;
        border-radius: 10px !important;
        padding-bottom: 12px;
    }

    .post__large-table__wrapper::-webkit-scrollbar-thumb {
        background-color: $terminy;
        height: 0px !important;
        border-radius: 15px;
    }

    .post__large-table__wrapper::-webkit-scrollbar {
        height: 3px !important;
        background-color: transparent;
    }
}
