@media screen and (max-width: 959px) {
    /* --- Неизменные стили --- */
    .post__image_column {
        margin: 0 auto 12px auto;
    }
    .card__text:last-of-type {
        margin: 0 auto 30px auto;
    }
    /* Изменяемые стили */
    .post__grid {
        max-width: 620px;
    }
    .post__paragraph_columns {
        max-width: 560px !important;
        margin-bottom: 30px;
    }
    .post__text_bold_card {
        font-size: 18px;
    }
    .post__quotes {
        justify-content: flex-start;
    }
    .post__image_desktop {
        display: inherit;
    }
    .post__image_mob {
        display: none;
    }
    .post__image-title {
        margin-bottom: 30px;
    }
    .post__exclamation_wrapper {
        max-width: 560px;
    }
    .post__exclamation_wrapper:last-of-type {
        margin-bottom: 18px;
    }
}
