@media screen and (max-width: 1199px) {
    /* --- Неизменные стили --- */
    .post__image_column {
        margin: 0 auto 12px auto;
    }
    .post__image_mini {
        max-width: 580px;
    }

    .post__paragraph_columns {
        max-width: 720px !important;
        margin-bottom: 40px !important;
    }
    /* Изменяемые стили */

    .post__exclamation_wrapper {
        max-width: 720px;
    }

    .post__exclamation_wrapper:last-of-type {
        margin-bottom: 28px;
    }
}
