.card__text_container {
    align-self: center;
}

.post__image_column {
    margin: 0 auto 12px auto;
}

.post__quotes {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.post__quotes:last-of-type {
    margin-bottom: 0;
}

.post__quotes_rotated {
    transform: rotateY(180deg);
}

.post__quote {
    margin-right: 5px;
    width: 20px;
}

.post__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    border-bottom: 2px solid $grey;
}

.post__table:last-of-type {
    border-bottom: none;
}

.post__table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 15px;
    overflow: hidden;
}

.post__table-heading {
    color: #fff;
    background-color: $terminy;
    border-right: 2px solid $grey;
    text-align: center;

    &:first-of-type {
        padding-left: 20px;
    }
}

.post__table-heading:last-of-type {
    border-right: none;
}

.post__table-cell {
    background-color: #fff;
    border-right: 2px solid $grey;
}

.post__table-cell:first-of-type {
    padding-left: 20px;
    justify-content: flex-start;
}

.post__table-cell:last-of-type {
    border-right: none;
    justify-content: flex-start;
}

.table__text {
    text-align: center;
    margin: 0 !important;
    padding: 10px 10px;
    font-size: 12px !important;
    align-items: center;
    justify-content: flex-start;
    word-break: break-word;
}

.post__table_header {
    grid-template-columns: 1fr !important;
}

th.post__subtitle {
    margin: 0 !important;
    padding: 10px 0 !important;
}

.post__image_desktop {
    display: inherit;
}

.post__image_mob {
    display: none;
}

.post__text_std-margin {
    margin-bottom: 12px !important;
}

.post__title_zero {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    text-align: center;
}

.post__paragraph_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    margin-bottom: 40px;
    gap: 30px;
}

.post__image_mini {
    max-width: 300px;
}

.flexbox {
    display: flex;
    align-items: center;
}

.text__image {
    max-width: 1.2em;
    margin-right: 10px;
}

.custom__color {
    color: $gajdy;
}

.zero-margin {
    margin-bottom: 0 !important;
}

.post__image-title {
    font-size: 14px;
    text-align: right;
    margin-bottom: 40px;
}
